<br>
<div class="container">
    <h2 style="text-align: center;">Правила та терміни</h2>
        <ul>
            <h5>Замовлення та оплата:</h5>
                <li>Клієнт може замовити товар через сайт, за допомогою телефону або електронної пошти</li>
                <li>Клієнт повинен вказати правильну інформацію про контакти та доставку, щоб магазин міг доставити товар правильно та вчасно.</li>
                <li>Оплата може бути здійснена через банківський переказ або платіжні термінали.</li>
                <li>Магазин може збирати податки згідно з податковим законодавством країни, де він знаходиться.</li>
                <br>
            <h5>Доставка:</h5>
                <li>Магазин повинен надати інформацію про терміни та вартість доставки.</li>
                <li>Магазин повинен дотримуватися зазначених термінів доставки, якщо інше не узгоджувалося з клієнтом.</li>
                <li>Клієнт повинен перевірити товар при отриманні і повідомити про будь-які пошкодження чи неправильност і негайно.</li>
                <br>
            <h5>Повернення та обмін:</h5>
                <li>Клієнт може повернути товар або обміняти його протягом 14 днів після отримання товару.</li>
                <li>Товар повинен бути в тому ж стані, в якому було отримано, з усіма етикетками та упаковкою.</li>
                <li>Клієнт зазвичай зобов'язаний оплатити вартість повернення або обміну товару, за винятком випадків, коли товар був пошкоджений або неправильний.</li>
        </ul>
</div>
