<table class="table">
    <thead *ngIf="orderHistory.length > 0">
        <tr>
            <th scope="col">Номер замовлення</th>
            <th scope="col">Ціна</th>
            <th scope="col">Кількість</th>
            <th scope="col">Дата замовлення</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderHistory">
            <td> {{ order.orderTrackingNumber }} </td>
            <td> {{ order.totalPrice | currency: 'UAH': 'symbol-narrow'}} </td>
            <td> {{ order.totalQuantity}} </td>
            <td> {{ order.dateCreated }}</td>
            <td> {{ order.status }}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="orderHistory.length === 0" class="alert alert-warning" role="alert">
    У вас ще немає замовлень
</div>