<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <button *ngIf="count * 12 < products?.length!" class="btn btn-outline-primary float-right" (click)="count = count + 1">Подивитись ще 12 товарів</button>
            <h3 class="section-title">Всі товари</h3>
        </header>
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch" *ngFor="let product of products|slice:0:count * 12">
                <div class="card card-product-grid">
                    <a class="img-wrap h-100" routerLink="/product/{{ product.id }}">
                        <img src="{{ product.imageUrl }}" onerror="this.onerror = null; this.src = 'assets/images/no_image_found.jpg'"/>
                    </a>
                    <figcaption class="info-wrap w-100">
                        <a routerLink="/product/{{ product.id }}" class="title">{{ product.name }}</a>
                    </figcaption>
                    <div class="price mt-auto mb-3 ml-3">
                        {{ product.price | currency: 'UAH': 'symbol-narrow'}}
                    </div>
                    <button (click)="addToCart(product)" class="btn btn-info">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                Товарів не знайдено.
            </div>
        </div>
    </div>
</section>