<div class="container">
    <!-- Address form-->
    <form [formGroup]="checkoutForm">
        <div formGroupName="customer">
            <h4 style="font-weight: bold;" class="mt-3">Оформлення замовлення</h4>
            <br>
            <div class="row">
                <div class="col-md-2"><label>Ім'я</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="firstName" type="text" class="form-control">
                        <!-- Validation-->
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="firstName.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>Прізвище</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="lastName" type="text" class="form-control">
                         <!-- Validation-->
                         <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="lastName.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Email</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="email" type="text" class="form-control">
                         <!-- Validation-->
                         <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="email.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                            <div *ngIf="email.errors?.['pattern']">
                                Невірний формат email
                            </div>
                        </div>
                        <!-- /Validation-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Країна</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <select formControlName="country" class="form-control" (change)="getCities('customer')">
                            <option *ngFor="let country of countries" [ngValue]="country">
                                {{ country.name }}
                            </option>
                        </select>
                        <!-- Validation-->
                        <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="country.errors?.['required']">
                                Виберіть країну
                            </div>
                        </div>
                        <!-- /Validation-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Місто</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <select formControlName="city" class="form-control">
                            <option *ngFor="let city of cities" [ngValue]="city">
                                {{ city.name }}
                            </option>
                        </select>

                        <!-- Validation-->
                        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="city.errors?.['required']">
                                Виберіть місто
                            </div>
                        </div>
                        <!-- /Validation-->              
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Вулиця</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="address" type="text" class="form-control">

                        <!-- Validation-->
                        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="address.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Поштовий індекс</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="zipCode" type="text" class="form-control">
                        <!-- Validation-->
                        <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="zipCode.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /Address form-->

         <!-- Payment -->
         <div formGroupName="payment" class="form-area">
            <h4 style="font-weight: bold;">Оплата</h4>
            <br>

            <div class="row">
                <div class="col-md-2"><label>Номер картки</label></div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <input formControlName="cardNumber" type="text" class="form-control">

                        <!-- Validation-->
                        <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="cardNumber.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>

                            <div *ngIf="cardNumber.errors?.['pattern']">
                                Номер карти повинен містити 16 цифр
                            </div>
                        </div>
                        <!-- /Validation-->      
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>Термін дії картки</label></div>
                <div class="col-md-2">
                    <div class="mb-3">
                        <select formControlName="expirationYear" class="form-control" (change)="handleMonthsAndYears()">
                            <option value="" disabled selected>Рік</option>
                            <option *ngFor="let year of creditCardYears">{{ year }}</option>
                        </select>
                         <!-- Validation-->
                         <div *ngIf="expirationYear.invalid && (expirationYear.dirty || expirationYear.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="expirationYear.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->      
                        </div>           
                </div>
                
                <div class="col-md-2">
                    <div class="mb-3">
                        <select formControlName="expirationMonth" class="form-control">
                            <option value="" disabled selected>Місяць</option>
                            <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                        </select>
                        <!-- Validation-->
                        <div *ngIf="expirationMonth.invalid && (expirationMonth.dirty || expirationMonth.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="expirationMonth.errors?.['required']">
                                Поле обов'язкове для заповнення
                            </div>
                        </div>
                        <!-- /Validation-->      
                    </div>           
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label>CVV</label></div>
                <div class="col-md-2">
                    <div class="mb-3">
                        <input formControlName="cvv" type="text" class="form-control">
                    </div>
                    <!-- Validation-->
                    <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="cvv.errors?.['required']">
                            Поле обов'язкове для заповнення
                        </div>

                        <div *ngIf="cvv.errors?.['pattern']">
                            CVV повинен містити 3 цифри
                        </div>
                    </div>
                    <!-- /Validation-->      
                </div>
            </div>
            <!-- /Payment-->
        </div>

        <!-- Order result-->
        <div class="form-area">
            <h4 style="font-weight: bold;">Разом</h4>
            <p>Кількість: {{ totalQuantity }}</p>
            <p>Сума: {{ totalPrice | currency: 'UAH':'symbol-narrow'}} </p>
            <br>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-3" (click)="onSubmit()">Купити</button>
        </div>
        <!-- /Order result-->
    </form>
</div>